.background-container {
  position: relative;
  height: 100vh;
  background: url('https://img.freepik.com/premium-photo/hanging-lamp-glows-dark-room-copy-space-design-element_183270-1252.jpg') no-repeat center center;
  background-size: cover;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Darken the background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background: rgba(255, 255, 255, 0.9); /* Lighten the form background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
